{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block
menu_items %} {% endblock %} {% block main %}
<h1 class="dhoom-orange">For The Dhoomies</h1>
<form
  action="/upload"
  method="POST"
  enctype="multipart/form-data"
  id="nameFileForm"
  name="nameFileForm"
  class="customForm"
>
  <input
    type="button"
    name="removeTeammate"
    id="removeTeammate"
    value="Remove Player"
    onclick="remove()"
    class="btn btn-outline-danger btns"
  />
  <input
    type="button"
    name="addTeammate"
    id="addTeammate"
    value="Add Player"
    onclick="add()"
    class="btn btn-outline-success btns"
  />
  <div class="form-group" id="formfield"></div>

  <input class="form-control fileThing" type="file" name="file[]" multiple />
  <input class="btn btn-primary submitBtn" type="submit" value="Submit" />
</form>
{% endblock %}
